<h1>Profile</h1>

<%= form_with(model: @user, local: true) do |f| %>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <p><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</p>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>
<br>
  <%= f.label :email %>
  <%= f.email_field :email %>
<br>
  <%= f.label :password %>
  <%= f.password_field :password %>
<br>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
<br>
  <%= image_tag(@user.image.url) if @user.image.url %>
  <%= f.file_field :image, id: :feed_image %>
<br>
  <%= f.submit %>
<% end %>
