<h1>Profile</h1>
<h2><%= @user.name %>のページ</h2>
<div class="user_image">
  <p>プロフィール画像：</p>
  <%= image_tag @user.image %>
</div>
<br>
<p>メールアドレス: <%= @user.email %></p>
<%= link_to 'Profileを編集する', edit_user_path(@user.id), class:'btn btn-default' %>
<p></p>
<%= link_to '新しくブログを投稿する', new_blog_path, class:'btn btn-primary' %>

<h2>お気に入り一覧</h2>
<div class="row">
<% @favorites_blogs.each do |favorite_blog| %>
  <div class="col-xs-12 col-md-6 blog-panel">
    <h2>タイトル：<%= favorite_blog.title %></h2>
    <p>本文：<%= favorite_blog.content %></p>
    <p>投稿者名：<%= favorite_blog.user.name %></p>
  </div>
  <% end %>
</div>
